/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  min-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  //color: white;
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  //background-color: #5cb85c;
  color: white;
}

.modal-body {
  background: url("@{picture-url}/Brain.png") 0 no-repeat;
  //width: 100%;
  padding: 2px 16px;
  z-index: 2;
}


.modal-body-content-wrapper{
  padding: 3rem 0.5rem ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  .modal-body-content-img{
    width: 40%;
    //flex-basis: 50%;
    img{
      width: 230px;
    }
  }
  .modal-body-content-txt-wrapper {
    width: 60%;
    //flex-basis: 50%;
    .modal-body-content-txt {
      .flex-display;
      .flex-direction(column);
      .justify-content(center);
      .align-items(center);
      //margin: 1rem;
      div {
        color: #208ca8;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 6rem;
      }
      h2 {
        text-align: center;
        color: #208ca8;
      }
      button{
        width: auto;
        height: auto;
        background-size: cover;
      }
    }
  }
}