@import "config.less";

.max_body_width {
  max-width: 1020px;
}
body {

  min-width: 320px;
  .max_body_width;
  background: #232228;

  margin: auto !important;
}
html{
  font-size: 16px;
  @media only screen and (max-width: @mobile-view) {
  font-size: 26px;
  }
  @media only screen and (max-width: 780px) {
    font-size: 16px;
  }
}

/*--------------------------------- header ---------------------------------------------------------------------------*/
.header{
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.313rem;
  padding-right: 2.313rem;
  .flex-display;
  .justify-content(space-between);
  .align-items(center);
  background: #232228;
  max-width: 59.124rem;                   //1020px
  height: 75px;
}

.contacts{
  .flex-display;
  .flex-direction(column);
  height: 2.5rem;                       //40px
  width: 100%;                           //240px
  vertical-align: middle;
  color: #8de2fd;
  font-weight: 600;
  letter-spacing: 0.02rem;
  line-height: 1.31rem;                  //21px
}

.contacts_first_row {
  .flex-display;
  .flex-direction(row);
  .justify-content(flex-end);
  .align-items(center);
  width: 100%;
  //background: red;
  @media only screen and (max-width: @desktop-view) {
    width: 100%;
  }
}
a[href^=tel] { color: inherit; text-decoration: none; }
.contacts span{
  color: #ffffff;
  font-size: 0.96rem;
}

.head_text{
  .flex-display;
  .justify-content(flex-end);
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 0;
  font-size: 0.75rem;                      //12px
}

.contacts .tel{
  padding-right: 0.2rem;
  font-size: 0.875rem;                      //14px
}

.contacts .second_row{
  letter-spacing: 0.01rem;
}
//------------- pay system block--------------------
.pay-system-container {
  @media only screen and (max-width: @desktop-view) {
    width: 100%;
  }
  margin: 2.6% 0;
  padding: 2.1% 0;
  background: white;
  .flex-display;
  .flex-direction(row);
  .justify-content(flex-start);
  .flex-wrap(wrap);
  @media only screen and (max-width: @mobile-view) {
    width: auto;
    margin:  0 2.6%;
    background: white;
    .flex-direction(column);
    .justify-content(center);
    .align-items(stretch);
    text-align: center;
  }
}

.pay-system-bar{
  @media only screen and (max-width: @mobile-view) {
    .flex-display;
    .justify-content(center);
    .align-items(center);

  }
  .flex-display;
  .flex-direction(row);
  .justify-content(flex-start);
  .flex-wrap(nowrap);

}
.pay-system-text {
  padding: 0.2% 1.5%;
  font-family: 'Open Sans';
  font-weight: 400;

  font-size: 1.5rem; // 24px
  text-transform: uppercase;
  letter-spacing: -0.25px;

}

.pay-system-payLogo {
  .flex-display;
  .align-items(center);
  padding: 0 0 0 3.3%;
  .vertical-separator {
    padding: 0 0 0 3.2%;
  }
}

// not Use
.image-resize {
  height: 100%;
  width: 100%;
  min-width: 50px;

}

.pay-system-payLogo img:last-child {
  padding: 1.4% 2.5%;
}

.pay-system-badge {
  margin-left: 2rem;

  .ps-badge-wrapper{
    @media only screen and (min-width: @mobile-view) {
      position: relative;
    }

    .ps-badge-block{
      @media only screen and (max-width: @mobile-view) {
        img {
          width: 70%;
          min-width: 50px;
        }
      }
      @media only screen and (min-width: @desktop-view) {
        top: -45px;
        position: absolute;
      }
    }
  }
}

//---------------------------------------------------
//---------------------------------------------------
.cart-item {
  margin: 2% 0;
  background: white;

  @media only screen and (max-width: @mobile-view) {
    margin: 2% 2.6%;
    //overflow: auto;
  }
  .cart-item-content{
    position: relative;
  }
  .cart-item-header{
    width: 100%;
    .flex-display;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    @media only screen and (max-width: @mobile-view) {
      background: #36b8d7;
      .flex-wrap(wrap);
      .align-items(stretch);
      .justify-content(center);
    }
    .ci-header-1st{
      @media only screen and (min-width: @mobile-view) {
        .flex-basis(50%);
        background: #e1e1e1;
      }
      padding: 1% 0;
      @media only screen and (max-width: @mobile-view) {
        .flex-basis(100%);
        padding: 2% 0 0 0;
      }


    }
    .ci-header-2nd{
      padding: 1% 0;
      @media only screen and (min-width: @mobile-view) {
      background: #36b8d7;
      .flex-basis(50%);
      }
      @media only screen and (max-width: @mobile-view) {
        .flex-basis(100%);
        color: white;
        padding: 0 0 2% 0;
      }
    }
  }
  .ci-price {
    background: white;
    width: 50%;
    float: right;
    @media only screen and (max-width: @mobile-view) {
      width: 100%;
    }
    color: #36b8d7;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 3.375rem;
    text-align: center;
    span{
      color: #666666;
      font-size: 4.375rem;
    }

  }
  .ci-picture {
    background: white;
    width: 50%;
    float: left;
    margin-bottom: 1.2%;
    padding-bottom: 2%;
    @media only screen and (max-width: @mobile-view) {
        width: 100%;
     }
    div{
      margin: 2%;
      img {
        width: 100%;
      }
    }
  }
  .ci-reward {
    background: white;
    width: 50%;
    //height: 7rem;
    float: right;
    @media only screen and (max-width: @mobile-view) {
      width: 100%;
    }
    .ci-reward-wrapper {
      //z-index: 9;
      width: 100%;
      margin: 2% 0;
      .flex-display;
      .flex-direction(row);
      .justify-content(center);
      .align-items(center);
      .ci-reward-img {
        width: 100%;
        text-align: right;
        @media only screen and (min-width: @mobile-view) {
          z-index: 2;
        }

        img {
          //z-index: 9;
          width: 50%;
          @media only screen and (min-width: @mobile-view) {
            width: 40%;
          }
        }
      }
      .ci-reward-text{
        width: 100%;
        padding: 0 15% 0 5%;
        color: #318ea0;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 0.6875rem;
        @media only screen and (max-width: @mobile-view) {
          font-size: 0.9rem;
        }
      }
    }
  }
  .ci-info {
    background: white;
    width: 50%;
    @media only screen and (max-width: @mobile-view) {
      width: 100%;
    }

    font-family: 'Open Sans';
    font-weight: 600;
      font-size: 0.875rem;

      text-align: center;
    div{
      padding: 0 0 6% 0;
      @media only screen and (max-width: @mobile-view) {
        padding: 0;
      }
      span{
        color: red;
      }
    }
  }
  .ci-button-block {
    background: white;
    margin-top: -13%;
    padding: 2.5% 0 0;
    width: 50%;
    float: right;
    @media only screen and (max-width: @mobile-view) {
      width: 100%;
      margin: 0;
      float: none;
    }
    .ci-main-button{
      .flex-display;
      .flex-direction(row);
      .justify-content(center);
      .align-items(center);
      @media only screen and (max-width: @mobile-view) {
        background: white;
        padding-bottom: 3%;
        margin-top: -3px;
      }
      button {
        padding: 1.2rem;
        //padding: 5%;
        border-radius: 30px;
        background: url("@{picture-url}/checkout/mc-button.png") 0 no-repeat;
        background-size: 100%;
        border: none;
        cursor:pointer;
        color: white;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 1.5rem;
        text-transform: uppercase;
      }
      button:focus{
        border: none;
        outline: none;
      }
      button:active{
        //border-radius: 30px
        background: url("@{picture-url}/checkout/mc-button-2.png") 0 no-repeat;
        background-size: 100%;
      }
    }

    .ci-button-price{
      .flex-display;
      .flex-direction(row);
      div{
        margin: 2% 0;
        .flex-basis(50%);
        text-align: center;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 0.875rem;
      }
      div:first-child{
        text-decoration: line-through;
      }
    }
  }
  .ci-footer-blank-block{
    width: 100%;
    height: 10px;
    background: white;
    @media only screen and (max-width: @mobile-view) {
      display: none;
    }
  }
}
.ci-brain-background{
  width: 60%;
  height: 100%;
  @media only screen and (max-width: @mobile-view) {
    width: 100%;
    height: 55%;
  }
  position: absolute;
  background: url("@{picture-url}/Brain.png") 65% 63% no-repeat;
  z-index: 2;
}

.ci-label-percentage{
  width: 8%;
  min-width: 50px;
  height: 30%;
  right: 1%;
  position: absolute;
  color: white;
  background: url("@{picture-url}/cart/pennant.png") 0% 0% no-repeat;
  background-size: 100%;
  z-index: 2;

  @media only screen and (max-width: @mobile-view) {
    width: 11%;
    height: 12%;
    right: 5%;
  }
  .ci-label-text{
    margin: 10% 0 0 0;
    font-family: Arial;
    font-size: 0.74rem;
    text-align: center;
    text-transform: uppercase;
    @media only screen and (max-width: @mobile-view) {
      font-size: 0.5rem;
    }
  }
  .ci-label-percent{
    font-family: Arial;
    font-size: 1.74rem;
    @media only screen and (max-width: @mobile-view) {
      font-size: 1.4rem;
    }
    text-align: center;
  }
}


//------------------------------------------------------------------------
//--Footer
//------------------------------------------------------------------------
.mc-main-contact-info{
  width: 100%;
  margin: 0.8rem 0;
  padding: 1.68rem 0;
  .flex-display;
  .flex-direction(row);
  .justify-content(space-between);
  .align-items(center);
  background: #e1e1e1;
  .main-contact-info-tel-wr{
    width: 50%;
    margin-left: 2.5em;
    .main-contact-info-tel{
      .flex-display;
      .flex-direction(row);
      .justify-content(flex-start);
      .align-items(stretch);
    }
  }
  .contact-info-text{
    .flex-display;
    .flex-wrap(wrap);
    margin-left: 1.2em;
    line-height: 1.4em;
    div{
      width: auto;
    }
  }
  .contact-info-text div:last-child{
    font-size:0.8125rem;
  }
  .main-contact-info-img{
    margin-right: 2.2rem;
  }
}

.checkout-footer{
  padding: 1.6rem;
  line-height: 1.8em;
  .flex-display;
  .flex-direction(column);
  .justify-content(center);
  .align-items(center);
  color: white;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 0.6875rem;
}