
@import "config.less";

.max_body_width {
  max-width: 1020px;
}
body {
  min-width: 320px;
  .max_body_width;
  background: #232228;

  margin: auto !important;
}
html{
  font-size: 16px;
  @media only screen and (max-width: @mobile-view) {
  font-size: 26px;
  }
  @media only screen and (max-width: 780px) {
    font-size: 16px;
  }
}
.custom-chkbx {
  input[type=checkbox] {
    visibility: hidden;
  }
  .checkbox-custom {
    width: 20px;
    position: relative;
  }
  .checkbox-custom label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: #eee;

    border: 1px solid #ddd;
  }
  .checkbox-custom label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 5px;
    border: 3px solid green;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
  }
  .checkbox-custom label:hover::after {
    opacity: 0.5;
  }
  .checkbox-custom input[type=checkbox]:checked + label:after {
    opacity: 1;
  }
}

/*--------------------------------- header ---------------------------------------------------------------------------*/
.header{
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.313rem;
  padding-right: 2.313rem;
  .flex-display;
  .justify-content(space-between);
  .align-items(center);
  background: #232228;
  max-width: 59.124rem;                   //1020px
  height: 75px;
}

.contacts{
  .flex-display;
  .flex-direction(column);
  height: 2.5rem;                       //40px
  width: 100%;                           //240px
  vertical-align: middle;
  color: #8de2fd;
  font-weight: 600;
  letter-spacing: 0.02rem;
  line-height: 1.31rem;                  //21px
}

.contacts_first_row {
  .flex-display;
  .flex-direction(row);
  .justify-content(flex-end);
  .align-items(center);
  width: 100%;
  //background: red;
  @media only screen and (max-width: @desktop-view) {
    width: 100%;
  }
}

a[href^=tel] { color: inherit; text-decoration: none; }
.contacts span{
  color: #ffffff;
  font-size: 0.96rem;
}

.head_text{
  .flex-display;
  .justify-content(flex-end);
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 0;
  font-size: 0.75rem;                      //12px
}

.contacts .tel{
  padding-right: 0.2rem;
  font-size: 0.875rem;                      //14px
}

.contacts .second_row{
  letter-spacing: 0.01rem;
}

//------------- pay system block--------------------
.pay-system-container {
  @media only screen and (max-width: @desktop-view) {
    width: 100%;
  }

  margin: 2.6% 0;
  padding: 2.1% 0;

  background: white;
  .flex-display;
  .flex-direction(row);
  .justify-content(flex-start);
  .flex-wrap(wrap);
  @media only screen and (max-width: @mobile-view) {
    width: auto;
    margin:  0 2.6%;
    background: white;
    .flex-direction(column);
    .justify-content(center);
    .align-items(stretch);
    text-align: center;
  }
}

.pay-system-bar{
  @media only screen and (max-width: @mobile-view) {
    .flex-display;
    .justify-content(center);
    .align-items(center);

  }
  .flex-display;
  .flex-direction(row);
  .justify-content(flex-start);
  .flex-wrap(nowrap);

}
.pay-system-text {
  padding: 0.2% 1.5%;
  font-family: 'Open Sans';
  font-weight: 400;

  font-size: 1.5rem; // 24px
  text-transform: uppercase;
  letter-spacing: -0.25px;

}

.pay-system-payLogo {
  .flex-display;
  .align-items(center);
  padding: 0 0 0 3.3%;
  .vertical-separator {
    padding: 0 0 0 3.2%;
  }
}

// not Use
.image-resize {
  height: 100%;
  width: 100%;
  min-width: 50px;

}

.pay-system-payLogo img:last-child {
  padding: 1.4% 2.5%;
}

.pay-system-badge {
  margin-left: 2rem;

  div:first-child {
    @media only screen and (min-width: @mobile-view) {
      position: relative;
    }

    div:first-child {
      @media only screen and (max-width: @mobile-view) {
        img {
          width: 70%;
          min-width: 50px;
        }
      }
      @media only screen and (min-width: @desktop-view) {
        top: -45px;
        position: absolute;
      }
    }
  }
}
//------------- main content block--------------------

.main-content-block {
  margin-top: 2.74em;
  background: white;
  @media only screen and (max-width: @mobile-view) {
    background: #232228;
    margin-top: .5em;
  }
  width: 100%;
  height: 100%;

  .mc-header-1st, .mc-header-2nd, .mc-header-3rd {
    padding: .6em 0 0.5em;
    background: #36b8d7;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 1.5rem; // 24px
    text-align: center;
    color: white;
  }

  .mc-header-1st {
    @media only screen and (max-width: @mobile-view) {
      margin: .5rem 0;
    }
  }
  .mc-wrapper {
    //width: 100%;
    padding: 1.5rem 2.45rem 1.5rem 2.3rem;
    @media only screen and (max-width: @mobile-view) {
      padding: .5rem 1rem .5rem 1rem;
    }
    .flex-display;
    .flex-direction(column);

    .mc-itm {
      border: solid #b7b7b7 1px;
      //height: 100%;
      .flex-display;
      .flex-direction(row);
      .flex-wrap(nowrap);
      @media only screen and (max-width: @mobile-view) {
        background: white;
      }
      .itm-header {
        //height: 20%;
        padding: 0.73em 0 0.5em;
        width: 100%;
        background: #e1e1e1;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 0.875rem;
        text-transform: uppercase;

      }
      .itm-product {
        .flex-basis(50%);
        .itm-header {
          div {
            text-align: center;
          }
        }
        .product-content {
          .flex-basis(90%);
          margin: 0 0 0 1.45rem;
          .flex-display;
          .flex-direction(row);
          .align-items(center);
          .justify-content(center);
          @media only screen and (max-width: 780px) {
            .flex-wrap(wrap-reverse);
          }
          img{
             margin: 1% 0;
            .flex-basis(60%);
            //-ms-interpolation-mode: bicubic;
            //max-width: 250px;
            //max-width: ;
            max-width: 100%;
            //width: 100%;

            //height:auto;
          }
          div{
            .flex-basis(40%);
            @media only screen and (max-width: 780px) {
              text-align: center;

            }
          }
        }
        .product-content div {
          font-family: 'Open Sans';
          font-weight: 400;
          font-size: 0.78rem; //13px
          letter-spacing: 0.3px;
        }

      }
      .itm-quantity {
        .flex-basis(30%);
        //.flex-display;
        //.flex-wrap(wrap);
        //.align-content(stretch);
        //.flex-direction(row;
        .itm-header div {
          text-align: center;
          //.flex-basis(10%);
          //height: 20%;
        }
        .quantity-content {
          //.flex-basis(90%);
          height: 80%;
          @media only screen and (max-width: @mobile-view) {
            height: 4rem;
          }
          .flex-display;
          width: 100%;
          .flex-direction(column);
          .justify-content(center);
          .align-content(center);
          .align-items(center);
          div {
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 0.78rem; //13px
            letter-spacing: 0.3px;
            text-align: center;
          }
        }

      }
      .itm-total-price {
        .flex-basis(20%);
        //.flex-display;
        //.flex-wrap(wrap);
        //.align-content(stretch);
        //.flex-direction(row);
        .itm-header div {
          text-align: center;
          //height: 20%;
        }
        .total-price-content {
          height: 80%;
          @media only screen and (max-width: @mobile-view) {
            height: 4rem;
          }
          width: 100%;
          .flex-display;
          .flex-direction(column);
          .align-items(center);
          .justify-content(center);
          div {
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 0.78rem; //13px
            letter-spacing: 0.3px;
          }
        }

      }
    }

    //--------buy info
    .mc-duy-info {
      margin: 1.4em 0 0;
      .flex-display;
      .flex-direction(row);
      @media only screen and (max-width: @mobile-view) {
        margin: 0.5em 0 0;
        .flex-wrap(wrap-reverse);
        background: white;
        }
      .duy-info-logo {
        .flex-display;
        .flex-direction(row);
        @media only screen and (max-width: @mobile-view) {
          .justify-content(center);
          .align-items(center);
        }
        margin: 0.3rem 0 0 2%;
        .duy-info-logo-img{
          @media only screen and (min-width: @mobile-view) {
            .flex-basis(70%);
          }
          .flex-basis(40%);
          min-width: 80px;
          //width: 100%;
        }

        //height: 100%;
        img {
          //height:100%;
          width: 100%;
        }
        .duy-info-logo-text {
          margin: 1.8em 12em 0 1.3em;
          font-family: 'Open Sans';
          font-weight: 600;
          font-size: 0.6875rem; //11px
          color: #318ea0;
          line-height: 16px;
          @media only screen and (max-width: @mobile-view) {
            margin: 0.2% 1.8em 0;
            font-size: 0.9rem;
            line-height: 30px;
          }
        }
      }
      .duy-info-list {
        @media only screen and (max-width: @mobile-view) {
          margin-top: 2%;
        }
        .flex-display;
        .flex-direction(column);
        .justify-content(space-between);
        .align-items(stretch);
        width: 100%;

      }
      .duy-info-row {
        .flex-display;
        .flex-direction(row);
        width: 100%;
        margin-bottom: 1.2em;
      }
      .row-itm-one {
        font-family: 'Open Sans';
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.86rem; //14px
        .flex-basis(50%);
        text-align: right;

      }
      .row-itm-two {
        .flex-basis(20%);
      }
      .row-itm-three {
        .flex-basis(30%);
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 0.86rem; //14px
      }
      .row-3rd {
        .row-itm-two {
          .flex-display;
          .justify-content(flex-end);
          .custom-chkbx;
          .checkbox-custom {
            margin-right: 20px;
          }
        }
        .row-itm-three {
          font-size: 0.75rem; //12px
        }
      }
      .row-4th {
        .row-itm-three {
          font-family: 'Open Sans';
          font-weight: 700;
        }
      }
    }
    .mc-duy-info-footer {
      padding-bottom: 12px;
      margin-top: 2.8rem;
      text-align: center;
      @media only screen and (max-width: @mobile-view) {
        padding-bottom: 12px;
        background: white;
        margin-top: 0.5rem;
      }

      div:first-child {
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 1.25rem;
      }
      div:last-child {
        margin-top: 0.5rem;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 1.25rem;
      }
      .injection-cyan {
        color: #36b8d7;
      }
      .injection-green {
        color: #5ebe00;
      }
    }
    .mc-duy-timer {
      .flex-display;
      .justify-content(center);
      padding: 2.2rem 0;
      @media only screen and (max-width: @mobile-view) {
        background: white;
      }
      .mc-duy-timer-wrapper {
        .flex-display;
        .align-items(center);
        .justify-content(center);
      }
    }
    //----------------------------------
    // -- post data
    //----------------------------------
    .mc-header-2nd {
      margin-top: 1.7rem;
      @media only screen and (max-width: @mobile-view) {
        margin-top: 0.5rem;
      }
    }
    input[type=text]{
      width: 100%;
      height: 2.5rem;
      border: 1px solid darkgrey;
      border-radius: 20px;
      background: #f5f5f5;
      box-sizing: border-box;
      line-height: 2.5rem;
      padding: 0 26px;
      margin-bottom: 0.9rem;
      font-family: Arial;
      font-size: 1rem;
    }
    input:focus{
      outline: none;
      background: white;
    }

    .post-data-select{
      background: #f5f5f5;
      border-radius: 25px;
    }
    .mc-post-data {
      width: 100%;
      padding-top: 1.7rem;
      .flex-display;
      .flex-direction(row);
      .justify-content(space-between);
      .align-items(stretch);
      @media only screen and (max-width: @mobile-view) {
        background: white;
        .flex-wrap(wrap);
      }
      .post-data-header{
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 1.125rem;
        color: #36b8d7;
        text-align: center;
      }
      .post-data-input-group{
        margin: 2rem 3.8rem;
        @media only screen and (max-width: @mobile-view) {
          margin: 2rem 0.8rem;
        }
      }
      .post-data-text{
        padding: 0 0 0 1.8rem;
        letter-spacing: 0.1px;
        font-family: Arial;
        line-height: 1.2rem;
        font-size: 12px;
      }
      .post-data-column1 {

        .flex-basis(50%);
        @media only screen and (max-width: @mobile-view) {
          .flex-basis(100%);
        }
      }
      .post-data-column2 {
        .flex-basis(50%);
        @media only screen and (max-width: @mobile-view) {
          .flex-basis(100%);
        }
      }
    }//.mc-post-data
    .mc-header-3rd{
      margin-top: 0.5rem;
    }
    .mc-payment-information-wrapper{
      padding: 2.3rem 2rem 0 2rem;
      @media only screen and (max-width: @mobile-view) {
        background: white;
      }
    }
    .mc-payment-information{
      width: 100%;
      .flex-display;
      .flex-direction(column);
      .justify-content(space-between);
      .align-items(stretch);
      .payment-info-validate {
        .post-data-select {
          select {
            padding: 5.1% 7.5%;
          }
          select::-ms-expand {
            display: none;
          }
        }
      }
    }
    .payment-info-row{
      width: 100%;
      .flex-display;
      .flex-direction(row);
      .justify-content(flex-start);
      .align-items(stretch);
      margin-bottom: 1rem;
      @media only screen and (max-width: @mobile-view) {
        .flex-wrap(wrap);
      }

      .payment-info-input-name{
        margin-right: 0.5rem;
        .flex-basis(42%);
        .flex-display;
        .flex-direction(column);
        .justify-content(center);
        .align-items(flex-end);
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 0.875rem;
        @media only screen and (max-width: @mobile-view) {
          margin-left: 7%;
          margin-bottom: 2%;
          .flex-basis(100%);
          .align-items(flex-start);
        }
      }
      .payment-info-input-group{

        .flex-basis(35%);
        @media only screen and (max-width: @mobile-view) {
          .flex-basis(100%);
        }
        margin-left: 0.9rem;
        select{
          width: 100%;
        }
        select::-ms-expand {
          display: none;
        }
        input{
          width: 100%;
          margin: 0;
        }
      }
      .payment-info-validate{
        .flex-display;
        .flex-direction(row);
        .flex-wrap(nowrap);
        .justify-content(space-between);
        div{
          .flex-basis(48%);
        }
      }
    } // payment-info-row
    @media only screen and (max-width: @mobile-view) {
      .payment-info-input-1st {
        .flex-display;
        .align-items(center) !important;
        .justify-content(center);
      }
    }
    .mc-main-button{
      .flex-display;
      .flex-direction(row);
      .justify-content(center);
      .align-items(center);
      @media only screen and (max-width: @mobile-view) {
        background: white;
        padding-bottom: 3%;
        margin-top: -1px;
      }
      button {
        padding: 1.2rem;
        border-radius: 30px;
        background: url("@{picture-url}/checkout/mc-button.png") 0 no-repeat;
        background-size: 100%;
        border: none;
        cursor:pointer;
        color: white;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 1.5rem;
        text-transform: uppercase;
      }
      button:focus{
        border: none;
        outline: none;
      }
      button:active{
        background: url("@{picture-url}/checkout/mc-button-2.png") 0 no-repeat;
      }
    }
  }//.mc-wrapper
}//.main-content-block
//------------------------------------------------------------------------
//--Footer
//------------------------------------------------------------------------
.mc-main-contact-info{
  width: 100%;
  margin: 0.8rem 0;
  padding: 1.68rem 0;
  .flex-display;
  .flex-direction(row);
  .justify-content(space-between);
  .align-items(center);
  background: #e1e1e1;
  .main-contact-info-tel-wr{
    width: 50%;
    margin-left: 2.5em;
    .main-contact-info-tel{
      .flex-display;
      .flex-direction(row);
      .justify-content(flex-start);
      .align-items(stretch);
    }
  }
  .contact-info-text{
    .flex-display;
    .flex-wrap(wrap);
    margin-left: 1.2em;
    line-height: 1.4em;
    div{
      width: auto;
    }
  }
  .contact-info-text div:last-child{
    font-size:0.8125rem;
  }
  .main-contact-info-img{
    margin-right: 2.2rem;
  }
}

.checkout-footer{
  padding: 1.6rem;
  line-height: 1.8em;
  .flex-display;
  .flex-direction(column);
  .justify-content(center);
  .align-items(center);
  color: white;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 0.6875rem;
}