@picture-url: "../../pictures";
@font-url: "../../fonts";
@mobile-view:981px;
@desktop-view:982px;

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Raleway:500,700|Roboto+Slab:300,400);
@import "flexbox.less";
@import "baner.less";