@import "config.less";
select {
  width: 100%;
  border: 1px solid #b7b7b7;
  padding: 0.7rem 1.5rem;
  border-radius: 20px;
  background: #f8f8f8;
  color:#888;

  outline:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  font-family: Arial;
  font-size: 1rem;
  background: url("@{picture-url}/select-rect.png") 100% 100% no-repeat;
  background-size: contain;
}
select::-ms-expand {
  display: none;
}
label {
  position:relative;
}