/*--------------------------------- variables ------------------------------------------------------------------------*/
@html-font-size: 16px;

@import "config.less";
/*--------------------------------- fonts ----------------------------------------------------------------------------*/
html {
  font-size: @html-font-size;
}

body {
  background: url("@{picture-url}/Brain.png") no-repeat center 2rem;
  @media screen and (max-width: 720px) {
    background: url("@{picture-url}/Brain_mob.jpg") no-repeat center 2rem;
  }

}

html {
  background: url("@{picture-url}/brain_dingy.png") no-repeat center 359.2rem;
}

.response {
  display: none;
}

.response_but {
  display: none;
}

/*--------------------------------- header ---------------------------------------------------------------------------*/
.top-baner{

  background: #f9f095;
  text-align: center;
  .flex-display;
  .flex-direction(row);
  .align-items(stretch);
  padding: 1% 10%;
  @media only screen and (max-width: 500px) {
    display: none;
  }
  .top-baner-note{
     font-size: 2rem;
     font-family: 'Roboto Slab';
     font-weight: 700;
     text-transform: uppercase;
     margin-right: 0.5rem;
  }

}

.header {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-left: 2.313rem;
  padding-right: 2.313rem;
  .flex-display;
  .justify-content(space-between);
  .align-items(center);
  background: #232228;
  max-width: 59.124rem; //1020px
  height: 75px;
}


.contacts {
  .flex-display;
  .flex-direction(column);
  height: 2.5rem; //40px
  width: 15rem; //240px
  vertical-align: middle;
  color: #8de2fd;
  font-weight: 600;
  letter-spacing: 0.02rem;
  line-height: 1.31rem; //21px
}

.contacts, x:-moz-any-link {
  letter-spacing: -0.05rem;
  font-weight: 600;
}

.contacts_first_row {
  .flex-display;
  .flex-direction(row);
  .justify-content(flex-end);
  .align-items(center);
  padding-left: 0.05rem;
  width: 15rem;
}

.contacts span {
  color: #ffffff;
  font-size: 0.94rem;
}

.head_text {
  .flex-display;
  white-space: nowrap;
  .flex-wrap(nowrap);
  .justify-content(flex-end);
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 0;
  font-size: 0.75rem; //12px
}

.contacts .tel {
  padding-right: 0.2rem;
  font-size: 0.875rem; //14px
}

.contacts .second_row {
  letter-spacing: 0.01rem;
}

/*--------------------------------- first_block ----------------------------------------------------------------------*/
.first_block {
  margin: auto;
  overflow: hidden;
  .flex-display;
  .flex-direction(column);
  max-width: 63.75rem;
  height: 1413px;
}

.first_block_top {
  min-height: 40.313rem; //645px
  .flex-display;
  .flex-direction(row);
  .flex-wrap(wrap);
}

.main_text {
  padding-top: 5rem;
  padding-left: 1.9rem;
  .flex-display;
  .flex-direction(column);
}

.big_bottles {
  max-width: 100%;
  max-height: 100%;
  margin-top: -18.8rem;
}

h1 {
  margin: 0;
  line-height: 5.625rem; //90px
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 6.563rem; //105px
}

.slogan {
  letter-spacing: 0.325rem;
}

.slogan, x:-moz-any-link {
  letter-spacing: 0;
}

.foco {
  color: #47bcda;
}

.memoria {
  color: #36aac8;
}

.energia {
  color: #208ca8;
}

.flexing {
  .flex-display;
  .flex-direction(row);
  padding-left: 1.9rem;
}

.flexing_vert {
  .flex-display;
  .flex-direction(column);
}

.wrapping {
  .flex-display;
  margin-left: 4.2rem;
  .justify-content(space-between);
}

.flexing ul {
  padding-top: 0.7rem;
  padding-left: 0.1rem;
  list-style-type: none;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.5rem; //40px
  color: #208ca8;
}

.flexing li {
  padding-left: 2.75rem; //40px
  letter-spacing: 0.033rem;
  background: url("@{picture-url}/blue_arrow_right.png") no-repeat 5px;
}

li sup {
  font-size: 0.6rem;
  letter-spacing: 0.015rem;
}

button {
  margin-top: 0.97rem;
  height: 4.75rem; //76px
  width: 27.438rem;
  border-radius: 2.1rem;
  background: url("@{picture-url}/checkout/mc-button.png") 0 no-repeat;
  background-size: 100%;
  border: none;
  cursor: pointer;
  color: white;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 1.5rem;
}

button:focus {
  border: none;
  outline: none;
}

button:active {
  background: url("@{picture-url}/checkout/mc-button-2.png") 0 no-repeat;
  background-size: cover;
}

button, x:-moz-any-link {
  margin-bottom: 1rem;
}

button .button_long {
  margin: 0;
  color: white;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

button .row_two {
  margin-top: 0.4rem;
  font-size: 0.73rem;
  font-family: 'Open Sans';
  font-weight: 700;
  line-height: 1.1rem;
}

.man_f {
  height: auto;
  background: url("@{picture-url}/man.png") no-repeat;
  background-position: 0 5.7rem;
}

.text {
  .flex-display;
  .flex-direction(column);
  .align-items(flex-end);
  margin-right: 1.94rem;
}

.conforme {
  .flex-display;
  .flex-direction(column);
  margin-top: 0.28rem;
  margin-left: 2.65rem;
  margin-bottom: -4.75rem;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 0.73rem;

  color: #414141;
}

.conforme .p {
  margin-bottom: 0;
}

.conforme_pict {
  margin-top: 0.3rem;

}

.conforme_pict img:first-child {
  padding-right: 1.6rem;
}

.conforme_pict img {
  padding-right: 2rem;
}

.conforme_pict img:nth-child(3) {
  padding-right: 1.9rem;
}

.man {
  margin-top: -11.95rem;
  margin-right: -35rem;

}

.problema {
  margin-top: 5.21rem;
  .flex-display;
  .flex-direction(column);
  .align-items(flex-end);
}

.problema h2 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 5rem; //80px
  margin-bottom: 0;
}

.problema_content {
  padding-top: 0.4rem;
  padding-right: 0.4rem;
  max-width: 29rem;
  text-align: right;
  text-transform: uppercase;
  line-height: 1.95rem;
  letter-spacing: -0.001rem;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 0.94rem; //15px
  color: #414141;
}

.text ul {
  .flex-display;
  .flex-direction(column);
  .align-items(flex-end);
  text-align: right;
  padding-top: 1.2rem;
  padding-right: 0.4rem;
  list-style-type: none;
  font-family: 'Roboto Slab';
  font-size: 1rem;
  color: #656565;
}

.text li {
  vertical-align: middle;
  line-height: 2.55rem;
  letter-spacing: 0.031rem;
}

li img {
  padding-right: 0.7rem;
  margin-bottom: 0.15rem;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 10px 10px rgba(255, 255, 255, 0.2);
}

.text li:last-child {
  padding-top: 0.55rem;
  max-width: 10rem;
  line-height: 1.4rem;
  margin-bottom: 7rem;
}

/*--------------------------------- second_block ---------------------------------------------------------------------*/
.second_block {
  margin: auto;
  overflow: hidden;
  .flex-display;
  .flex-direction(column);
  .align-items(center);
  //background: url("@{picture-url}/background_block_two.png") no-repeat center;
  background: #2e2e2e;
  max-width: 63.75rem;
  height: 986px;
}

.second_block h2 {
  margin-top: 2.8rem;
  margin-bottom: 1.15rem;
  margin-left: 0.75rem;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 5rem; //80
  line-height: 5.625rem; //90
  color: #47bcda;
}

.second_block .text_two {
  max-width: 46.5rem; //745
  text-align: center;
  text-transform: uppercase;
  line-height: 1.938rem; //31
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 0.938rem;
  color: #47bcda;
}

.pict_block_two {
  .flex-display;
  .flex-direction(row);
}

.pict_block_two .left {
  .flex-display;
  .flex-direction(column);
  width: 11rem;
  margin-top: -1.1rem;
}

.left_circle {
  margin-left: 7.9rem;
  margin-top: 4.73rem;
  margin-bottom: -1.9rem;
  width: 11rem;
  height: 11rem;
  text-align: center;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.563rem; //25
  color: #dfd9fa;
}

.left_circle:first-child {
  background: url("@{picture-url}/top_left_stamp.png") no-repeat;
}

.left_circle:last-child {
  margin-left: 7.85rem;
  background: url("@{picture-url}/bottom_left_stamp.png") no-repeat;
}

.top_left {
  width: 8.1rem;
  margin-top: 2.55rem;
  margin-left: 1.3rem;
  letter-spacing: 0.029rem;
}

.bottom_left {
  width: 7.7rem;
  margin-top: 3.1rem;
  margin-left: 0.87rem;
  letter-spacing: 0.029rem;
}

.bottles_galo {
  margin-top: -6.25rem;
  margin-left: 1.25rem;
  @media (max-width: 720px) {
    img {
      content: url("@{picture-url}/bottles_galo_mob.png");
    }
  }
}

.pict_block_two .right {
  .flex-display;
  .flex-direction(column);
  width: 11rem;
  margin-top: 1.05rem;
}

.right_circle {
  margin-left: -6.7rem;
  margin-top: 3.1rem;
  width: 11rem;
  height: 11rem;
  text-align: center;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.563rem; //25
  color: #dfd9fa;
}

.right_circle:first-child {
  background: url("@{picture-url}/top_right_stamp.png") no-repeat;
}

.right_circle:last-child {
  margin-left: -6.85rem;
  margin-top: 1.45rem;
  background: url("@{picture-url}/bottom_right_stamp.png") no-repeat;

}

.top_right {
  width: 8.1rem;
  margin-top: 2.95rem;
  margin-left: 0.48rem;
  letter-spacing: 0.03rem;
}

.bottom_right {
  width: 7rem;
  margin-top: 2.65rem;
  margin-left: 1.6rem;
  letter-spacing: 0.03rem;
}

.pict_block_two sup {
  font-size: 0.65rem;
}

.pict_block_two .bottom_right sup {
  font-size: 0.6rem;
}

.pict_block_two sup {
  font-size: 0.65rem;
}

.button_short {
  width: 23.688rem; //379
  margin: 0;
  color: white;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 1.75rem; //28px
  line-height: 1.58rem;
  letter-spacing: 0.05rem;
}

.but_two {
  margin-top: -7.165rem;
  margin-left: .45rem;
}

/*--------------------------------- third_block ----------------------------------------------------------------------*/
.third_block {
  margin: auto;
  overflow: hidden;
  .flex-display;
  .flex-direction(column);
  .align-items(center);
  max-width: 63.75rem;
  height: 814px;
}

.third_block h2 {
  margin-bottom: 0;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 3.44rem; //55
  color: #2d2d2d;
}

.third_block .text_three {
  margin-top: 0.65rem;
  width: 50rem; //800
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 1rem; //16
  line-height: 1.875rem; //30
  text-align: center;
}

.third_block sup {
  font-size: 0.6rem;
}

.scheme {
  margin-top: 3.75rem;
  .flex-display;
  .flex-direction(row);
}

.scheme .right_text,
.scheme .left_text,
.bottom_text {
  max-width: 20rem;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.75rem; //28
}

.left_text .top {
  margin: -0.48rem -2rem 0 3.55rem;
}

.left_text .bottom {
  margin: 2.75rem -1.7rem 3.2rem 3.55rem;
}

.pict_scheme {
  margin-right: 0.1rem;
}

.right_text .top {
  margin: -0.48rem 3rem 0 1.05rem;
}

.right_text .bottom {
  margin: 2.75rem 2.5rem 0 0.85rem;
}

.bottom_text {
  margin-top: -1.05rem;
  max-width: 30rem;
  text-align: center;
}

.but_three {
  margin-top: 2.64rem;
}

/*--------------------------------- fourth_block ---------------------------------------------------------------------*/
.fourth_block {
  margin: auto;
  overflow: hidden;
  .flex-display;
  .flex-direction(column);
  .align-items(center);
  //background: url("@{picture-url}/background_block_three.png") no-repeat center;
  background: #2e2e2e;
  max-width: 63.75rem;
  height: 1109px;
}

.fourth_block h2 {
  margin-top: 2.5rem;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 3.4rem;
  letter-spacing: 0.02rem;
  text-align: center;
  color: white;
}

.text_four {
  margin-top: -2.168rem;
  margin-bottom: 6.45rem;

  font-family: 'Roboto Slab';
  font-weight: 300;

  font-size: 1.564rem;
  color: white;
}

.comments {
  margin-bottom: 4.9rem;
  min-height: 13.5rem; //216
  max-width: 60.5rem; //856
  .flex-display;
  .flex-direction(row);
}

.comments .words {
  max-width: 47.125rem; //754
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 1.25rem; //20
  background-color: white;
}

.comments .name {
  font-family: 'Roboto Slab';
  font-weight: 400;
  color: #47bcda;
}

.first_comment .face {
  margin-top: -2.05rem;
  margin-right: -4.55rem;
  z-index: 10;
}

.first_comment p {
  padding-top: 0.55rem;
  padding-left: 6.75rem;
  padding-right: 2rem;
  line-height: 2.4rem;
}

.first_comment .name {
  margin-top: -0.07rem;
  padding-left: 6.75rem;
}

.second_comment {
  margin-left: 0.04rem;
}

.third_comment {
  margin-right: 0.15rem;
}

.second_comment .face {
  margin-top: -2.4rem;
  margin-left: -3.85rem;
}

.second_comment p {
  padding-top: 0.55rem;
  padding-left: 4.5rem;
  padding-right: 6.75rem;
  line-height: 2.4rem;
}

.second_comment .name {
  margin-top: -0.09rem;
  padding-left: 4.5rem;
}

.third_comment .face {
  margin-top: -2.1rem;
  margin-right: -4.875rem;
  z-index: 10;
}

.third_comment p {
  padding-top: 0.55rem;
  padding-left: 7.05rem;
  padding-right: 2rem;
  line-height: 2.4rem;
}

.third_comment .name {
  margin-top: -0.12rem;
  padding-left: 7.05rem;
}

/*--------------------------------- fifth_block ----------------------------------------------------------------------*/
.fifth_block {
  margin: auto;
  overflow: hidden;
  .flex-display;
  .flex-direction(column);
  .align-items(flex-start);
  background: url("@{picture-url}/man_smiling.png") no-repeat center;

  @media screen and (max-width: 720px) {
    background: url("@{picture-url}/man_smiling_mob.jpg") no-repeat center;
  }
  max-width: 63.75rem;
  height: 913px;
}

.fifth_block h2 {
  margin: 0;
  margin-left: 2.12rem;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 5rem; //80
  line-height: 4.65rem; //74
  letter-spacing: -0.127rem;
  color: #47bcda;
}

.fifth_block h2:first-child {
  margin-top: 2.45rem;
}

.laps {
  .flex-display;
  .flex-direction(row);
  margin-top: 2.3rem;
  margin-left: 2.3rem;
}

.laps .circle {
  width: 3.625rem;
  height: 3.625rem;
  .flex-display;
  .align-items(center);
  .justify-content(center);
  background-color: #3c3c3c;
  border-radius: 50%;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 2.15rem; //35
  color: white;
}

.circle p {
  margin: 0 0 0.3rem 0.08rem;
}

.second_lap .circle p,
.third_lap .circle p {
  margin-left: 0.2rem;
}

.descript {
  .flex-display;
  .flex-direction(column);
}

.lap_header {
  .flex-display;
  .align-items(center);
  margin-left: 0.88rem;
  min-height: 3.75rem;
  vertical-align: middle;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 2.06rem; //35
  line-height: 1.938rem; //31
  text-transform: uppercase;
}

.lap_text {
  max-width: 30rem;
  margin-top: -0.3rem;
  margin-left: 1rem;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 0.938rem; //15
  line-height: 1.625rem; //26
}

.lap_text sup {
  font-size: 0.6rem;
}

.first_lap .lap_text {
  max-width: 17.9rem;
}

.second_lap {
  margin-top: 1.85rem;
}

.second_lap .lap_text {
  max-width: 27rem;
}

.third_lap {
  margin-top: 1.67rem;
}

.third_lap .lap_text {
  margin-top: -0.2rem;
  max-width: 20rem;
}

.lap_text span {
  display: block;
  margin-bottom: 0.2rem;
  font-size: 1.05rem;
  font-weight: 300;
  letter-spacing: 0.007rem;
}

a {
  text-decoration: none;
  color: white;
}

/*--------------------------------- sixth_block ----------------------------------------------------------------------*/
.sixth_block {
  margin: auto;
  overflow: hidden;
  .flex-display;
  .flex-direction(column);
  background: url("@{picture-url}/hand.png") no-repeat center;
  max-width: 63.75rem;
  height: 509px;
  color: white;
}

.sixth_block h2 {
  margin-top: 2.3rem;
  .align-self(center);
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 3.438rem; //55
}

.star_block {
  .flex-display;
  .flex-direction(column);
  margin-left: 10.33rem;
  margin-top: 9.79rem;
}

.star_header {
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 1.56rem; //25
  line-height: 2.81rem; //45
  color: #eae201;
}

.star_text {
  margin-top: 0.65rem;
  margin-left: 0.1rem;
  max-width: 25.5rem;
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem; //25
}

/*--------------------------------- seventh_block --------------------------------------------------------------------*/
.seventh_block {
  height: 100%;
  margin: auto;
  overflow: visible;
  .flex-display;
  .flex-direction(column);
  max-width: 63.75rem;
  //height: 703px;
}

.oferta {
  .flex-display;
  .flex-direction(column);
  .align-self(flex-end);
  margin-top: -1.05rem;
  margin-right: 9.8rem;
}

.oferta_img {
  .align-self(center);
}

form h2 {
  margin-bottom: 0;
  margin-top: 2.7rem;
  .align-self(center);
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 1.65rem;
  line-height: 1.83rem;
  letter-spacing: 0.015rem;
  text-align: center;
}

.bottles_forma {
  .flex-display;
  .flex-direction(row);
  .justify-content(space-between);
}

form {
  margin-right: 2.55rem;
  margin-top: -1.2rem;
}

table {
  border-spacing: 0.87rem 1.65rem;
}

.form_field {
  width: 11.83rem; //210
  height: 2.34rem; //40
  padding-left: 1.25rem;
  padding-bottom: 0;
  border-radius: 1.3rem;
  border: solid 1px #b7b7b7;
  font-family: Arial;
  font-size: 0.75rem; //12
  background: #f5f5f5;
}

tr td:first-child .form_field {
  padding-left: 1.85rem;
  width: 11.23rem;
}

.bottles_forma form table tr td .long_field {
  width: 80%;
}

.form_field_select {
  box-sizing: border-box;
  border-radius: 1.3rem;
  background: #f5f5f5;
  //line-height: 2.6rem;
  height: 2.6rem;
}

.form_field_select select {
  box-sizing: border-box;
  color: #3c3c3c;
  padding: 0;
  padding-left: 1.3rem;
  font-size: 0.75rem;
  height: 2.6rem;
}

.form_field_select select, x:-moz-any-link {
  color: #888;
}

.form_field {
  -webkit-appearance: none;
}

td {
  align-items: center;
  vertical-align: middle;
}

::-webkit-input-placeholder {
  color: #3c3c3c;
}

::-moz-placeholder {
  color: #3c3c3c;
}

:-moz-placeholder {
  color: #3c3c3c;
}

:-ms-input-placeholder {
  color: #3c3c3c;
}

.big_bottles_small {
  margin-top: -6.45rem;
  margin-left: 0px;
  @media (max-width: 720px) {
    img {
      content: url("@{picture-url}/bottles_mob.png");
    }
  }
}

.big_bottles_small img {
  width: 93%;
  height: auto;
}

.but_four {
  margin-top: 0.75rem;
  margin-left: 0.82rem;
  margin-bottom: 1rem;
}

.but_four .button_long {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 1.28rem; //21
  line-height: 2.17rem; //34
  letter-spacing: 0.046rem;
}

/*--------------------------------- footer ---------------------------------------------------------------------------*/
.footer {
  margin: auto;
  //overflow: hidden;
  .flex-display;
  .flex-direction(column);
  .align-items(stretch);
  padding: 1.5rem 1rem 1.5rem 2rem;
  background: #3c3c3c;
  max-width: 60.75rem;
  font-family: Arial;
  font-size: 0.82rem;
  color: white;
  .footer-1st-block {
    .flex-display;
    .flex-direction (row);
    .justify-content (space-between);
    .align-items (stretch);

    a {
      text-decoration: underline;
    }
    .footer-privaci-data {
      .flex-display;
      .flex-direction(column);
      .justify-content(center);

      font-size: 1rem;
      div{
        margin-bottom: 1rem;
      }

      .footer-privaci-data-1stline {
        .flex-display;
        .flex-direction(row);
        margin-bottom: 1rem;
        div{
          margin: 0 0.2rem;
        }
      }
    }
    .footer-pay-wrapper{
      .flex-display;
      .flex-direction(column);
      .align-items(stretch);
      p{
        font-size: 1rem;
      }
      img{
        width: 100%;
      }

    }
  }

}

.footer h3 {
  margin-top: 0.95rem;
  margin-right: 1.45rem;
  margin-bottom: 0.62rem;
  .align-self(center);
  font-size: 0.85rem;
  font-weight: 100;
  letter-spacing: -0.009rem;
}

hr {
  margin: 1.1rem 0 0.8rem 0;
  width: 59rem;
  border-color: #777777;
}

.footer p {
  margin-left: 0.2rem;
  font-size: 0.75rem; //20
  letter-spacing: -0.028rem;
  line-height: 1.25rem; //20
}

.footer a {
  display: block;
  margin-bottom: -0.25rem;
}

@media screen and (max-width: 1024px) {
  .man_f {
    background-position: -5rem 5.7rem;
  }

  .conforme {
    margin-bottom: 0;
  }

  .big_bottles img {
    width: 95%;
    height: auto;
    float: right;
    @media (max-width: 720px) {
      content: url("@{picture-url}/bottles_mob.png");
    }
  }

  .footer p {
    line-height: 1.2rem;
  }

  .man {
    margin-left: -5rem;
  }

  .scheme .right_text,
  .scheme .left_text {
    line-height: 1.5rem;
  }

  .bottom_text {
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 980px) {
  .conforme_pict img {
    padding-right: 1.3rem;
  }

  .pict_scheme img {
    max-width: 95%;
    max-height: 95%;
  }

  .pict_scheme {
    margin-left: 1rem;
  }

  .scheme .right_text,
  .scheme .left_text {
    line-height: 1.3rem;
  }

  .bottom_text {
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 950px) {
  body, html {
    background: none;
  }

  .man_f {
    background: url("@{picture-url}/man.png") no-repeat bottom;
    background-size: 100% auto;
    background-position: -5rem 25rem;
  }

  .first_block_top {
    background: url("@{picture-url}/Brain_mob.jpg") no-repeat center;
    background-size: 100% auto;
  }

  .first_block_bottom {
    background: url("@{picture-url}/Brain_mob.jpg") no-repeat center;
    background-size: 100% auto;
    .flex-wrap(wrap-reverse);
    @media screen and (max-width: 720px) {
    }
  }

  .desktop {
    display: none;
  }

  button {
    .align-self(center);
  }

  .button_short, x:-moz-any-link {
    margin-bottom: 1rem;
  }

  .button_resp {
    width: 100%;
    .flex-display;
    padding-left: 0;
    margin-bottom: 1%;
    .justify-content(space-around);
  }

  .response {
    display: block;
  }

  .response_but {
    width: 48%;
  }

  .flexing {
    width: 100%;
    padding-left: 0;
    .flex-wrap(wrap-reverse);
    .justify-content(center);
  }

  .flexing_vert {
    width: 100%;
  }

  .main_text {
    padding-top: 2rem;
    padding-left: 1.9rem;
  }

  h1 {
    font-size: 9rem;
    line-height: 7rem;
  }

  .big_bottles {
    margin-top: -1rem;
    .align-self(center);
  }

  .big_bottles img {
    float: none;
  }

  .first_block {
    min-height: 2550px;
  }

  .conforme {
    padding: 0 1rem 0.7rem 1rem;
    width: 90%;
    .flex-direction(row);
    .justify-content(space-around);
    border: solid 1px #9c9c9c;
    margin: 0;
    font-size: 1.2rem;
  }

  .conforme_pict img:nth-child(n) {
    padding: 0;
    padding-left: 1rem;
  }

  .conforme_pict {
    .flex-display;
    .align-items(flex-end);
    .justify-content(space-around);
    width: 80%;
  }

  .flexing ul {
    padding-left: 1rem;
    font-size: 1.8rem;
    line-height: 3rem; //40px
  }

  li sup {
    font-size: 0.8rem;
  }

  .for_resp {
    width: 100%;
  }

  .text {
    width: 100%;
  }

  .problema {
    width: 100%;
    .align-items(center);
    margin-top: 0;
  }

  .problema h2 {
    margin-bottom: 1rem;
    font-size: 6rem;
    letter-spacing: 0.1rem;
    text-align: center;
  }

  .problema .problema_content {
    max-width: 80%;
    font-size: 1.3rem;
    line-height: 2.2rem;
    text-align: center;
  }

  .text ul {
    font-size: 1.8rem;
    margin-bottom: 23rem;
  }

  .text li {
    max-width: 80%;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  .text li:last-child {
    max-width: 60%;
    padding-bottom: 0.05rem;
    line-height: 2rem;
  }

  .second_block {
    .flex-display;
    .flex-direction(column);
    .justify-content(center);
    min-height: 1250px;
    background-color: #2a2a2a;
  }

  .second_block h2 {
    font-size: 7rem;
    line-height: 10rem;
  }

  .second_block .text_two {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .pict_block_two {
    .flex-direction(column);
  }

  .bottles_galo, x:-moz-any-link {
    margin-bottom: -22rem;
  }

  .bottles_galo img {
    width: 100%;
    height: auto;
  }

  .left, .right {
    max-width: 0;
  }

  .table_inf {
    min-width: 95%;
    text-align: center;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.1rem; //25
    color: #dfd9fa;
    margin-top: 13rem;
  }

  .table_inf .response {
    width: 100%;
  }

  .table_inf td {
    padding: 0.5rem;
    max-width: 25%;
    border-right: #b1b1b1 1px solid;
  }

  .table_inf td:last-child {
    border-right: none;
  }

  .but_two {
    .flex-display;
    .justify-content(center);
    width: 100%;
    margin-top: 1rem;
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .third_block {
    height: auto;
  }

  .third_block h2 {
    font-size: 4rem;
  }

  .third_block .text_three {
    width: 95%;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
  }

  .text_block {
    width: 100%;
    text-align: center;
    font-family: 'Roboto Slab';
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .text_block div {
    padding: 1rem;
  }

  .text_block div:nth-child(2n+1) {
    background-color: #ecf8fb;
  }

  .sixth_block h2 {
    font-size: 4rem;
  }

  .star_block {
    margin-left: 3.3rem;
    margin-top: 7rem;
  }

  .star_header {
    font-size: 1.9rem;
  }

  .star_text {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  .seventh_block {
    min-height: 1370px;
  }

  .oferta {
    margin: 0;
    .align-self(center);
  }

  .oferta_img {
    width: 100%;
    height: 100%;
  }

  .by_it .response {
    width: 100%;
  }

  .bottles_forma {
    .flex-wrap(wrap);
    .justify-content(center);
  }

  table {
    width: 100%;
  }

  .bottles_forma form table tr td .long_field {
    width: 100%;
  }

  .bottles_forma table tr {
    width: 100%;
    .flex-display;
    .flex-direction(column);
    .align-items(center);
    td {
      width: 100%;
      margin-bottom: 1rem;
      .form_field {
        width: 100%;
        margin: 0;
        padding-left: 2rem;
      }
    }
    .form_field_select {
      select {
        padding-left: 2rem;
        width: 105%;
      }
    }
  }

  .big_bottles_small {
    margin-top: 1.5rem;
    margin-left: 0;
  }

  form {
    .flex-display;
    .flex-direction(column);
  }

  .but_four {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .form_field {
    width: 20.83rem;
    height: 3.34rem;
    border-radius: 2rem;
    font-size: 1.25rem;
  }

  tr td:first-child .form_field {
    width: 20.23rem;
  }

  .bottles_forma form table tr td .long_field {
    //width: 35rem;
  }

  .form_field_select {
    border-radius: 2rem;
    height: 3.58rem;
   }

  .form_field_select select {
    font-size: 1.25rem;
    height: 3.59rem;
    border-radius: 2rem;
  }

  .footer {
    height: auto;
  }

  hr {
    .align-self(center);
    width: 95%;
  }

  .footer p {
    font-size: 0.85rem;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .comments .words p {
    margin-top: 0;
    font-size: 1.5rem; //20
    background-color: white;
    line-height: 2rem;
  }

  .seventh_block h2 {
    margin-top: 0.5rem;
    font-size: 2.5rem;
    line-height: 2.3rem;
  }
}

@media screen and (max-width: 920px) {
  .text li:last-child {
    max-width: 20rem;
  }

  .seventh_block h2 {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }

  .text ul {
    margin-bottom: 27rem;
  }

  .contacts_first_row {
    width: 15.1rem;
  }

  .text li {
    line-height: 2.3rem;
  }

  .man {
    margin-top: -30rem;
  }

  .first_block {
    min-height: 2400px;
  }

  .fifth_block h2 {
    font-size: 6rem;
    line-height: 5.4rem;
  }

  .lap_header {
    font-size: 3rem;
    line-height: 2.3rem;
  }

  .first_lap .lap_text,
  .second_lap .lap_text,
  .third_lap .lap_text {
    max-width: 36rem;
  }

  .lap_text,
  .lap_text span {
    font-size: 1.5rem;
  }

  .lap_text span {
    color: #47bcda;
  }

  .fourth_block {
    height: auto;
  }

  .star_block {
    margin-left: 3.3rem;
    margin-top: 10rem;
  }

  .bottles_galo {
    margin-bottom: -19rem;
    margin-top: -5.25rem;
  }

  .bottles_galo, x:-moz-any-link {
    margin-bottom: -22rem;
  }

  .seventh_block {
    min-height: 1300px;
  }
}

@media screen and (max-width: 800px) {
  .second_block {
    min-height: 1150px;
  }

  .text ul {
    font-size: 1.6rem;
  }

  .text li:last-child {
    max-width: 50%;
  }

  .comments {
    width: 95%;
  }

  .comments .name {
    margin-bottom: 1rem;
  }

  .fifth_block {
    background-position: 100%;
  }

  .fifth_block h2 {
    font-size: 5rem;
    line-height: 4.65rem;
  }

  .lap_header {
    font-size: 2.06rem;
    line-height: 1.2rem;
  }

  .first_lap .lap_text,
  .second_lap .lap_text,
  .third_lap .lap_text {
    max-width: 30rem;
  }

  .lap_text,
  .lap_text span {
    font-size: 1.3rem;
  }

  .sixth_block {
    background-position: 45%;
  }

  .sixth_block .star_block {
    margin-left: 3%;
    margin-top: 11rem;
  }

  .sixth_block h2 {
    text-align: center;
    margin-top: 1rem;
    line-height: 4rem;
  }
}

@media screen and (max-width: 780px) {
  .first_block {
    min-height: 2300px;
  }

  .text ul {
    margin-bottom: 20rem;
  }

  .second_block {
    min-height: 1100px;
  }

  .table_inf {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }

  .first_lap .lap_text,
  .second_lap .lap_text,
  .third_lap .lap_text {
    max-width: 23rem;
  }

  .bottles_galo {
    margin-bottom: -24rem;
  }
}

@media screen and (max-width: 765px) {
  .but_two {
    .justify-content(space-around);
  }

  .button_short, x:-moz-any-link {
    margin-bottom: 0;
  }

  .first_lap .lap_text {
    max-width: 22rem;
  }
}

@media screen and (max-width: 735px) {
  .second_block {
    min-height: 1050px;
  }

  .sixth_block .star_block {
    margin-top: 7rem;
  }

  .oferta img {
    width: 100%;
  }

  .second_block h2 {
    margin-top: 0;
  }

  .first_lap .lap_text {
    max-width: 21rem;
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 12px;
  }

  .contacts, x:-moz-any-link {
    letter-spacing: 0;
  }

  .first_block {
    min-height: 2050px;
  }

  .first_block li {
    line-height: 2.7rem;
  }

  .second_block {
    min-height: 980px;
  }

  .text_block {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .face img {
    width: 80%;
    height: auto;
  }

  .first_comment p {
    padding-left: 3rem;
  }

  .second_comment p {
    padding-right: 3.5rem;
  }

  .third_comment p {
    padding-left: 3rem;
  }

  .name {
    font-size: 1.5rem;
  }

  .lap_header {
    max-width: 26rem;
    font-size: 3rem;
    line-height: 2.5rem;
  }

  .first_lap .lap_text,
  .second_lap .lap_text,
  .third_lap .lap_text {
    max-width: 26rem;
  }

  .lap_text {
    margin-top: 0.5rem;
  }

  .fifth_block {
    background-position: 70%;
  }

  .sixth_block {
    background: url("@{picture-url}/hand_small.png") no-repeat bottom #202020;
    background-size: 100%;
  }

  .sixth_block h2 {
    font-size: 6rem;
    line-height: 6rem;
  }

  .sixth_block .star_block {
    margin-top: 8rem;
  }

  .footer h3 {
    font-size: 1.5rem;
  }

  .footer p {
    font-size: 1rem;
  }

  .seventh_block h2 {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    font-size: 2.9rem;
    line-height: 3.8rem;
  }

  .form_field_select, .form_field_select select {
    height: 3.68rem;
    //line-height: 3.68rem;
    border-radius: 2rem;
  }
}

@media screen and (max-width: 680px) {
  .sixth_block h2 {
    margin-top: 2rem;
  }

  .second_comment p {
    padding-right: 3.8rem;
  }
}

@media screen and (max-width: 632px) {
  .bottles_galo, x:-moz-any-link {
    margin-bottom: -19rem;
  }

  .text ul {
    margin-bottom: 19rem;
  }

  .third_block h2 {
    font-size: 3.5rem;
  }

  .third_block h2, x:-moz-any-link {
    font-size: 3rem;
    letter-spacing: -0.1rem;
  }

  .man_f {
    background-position: -4rem 30rem;
  }

  .sixth_block h2 {
    margin-top: 4rem;
  }

  .text_block {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }

  .first_lap .lap_text {
    max-width: 23rem;
  }

  form {
    display: block;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .seventh_block {
    min-height: 1270px;
  }

  .seventh_block h2 {
    font-size: 2.4rem;
    line-height: 3.1rem;
  }

  .footer {
    padding: 1.5rem 0.5rem 1rem 0.5rem;
  }
}

@media screen and (max-width: 580px) {
  table {
    margin-right: auto;
    margin-left: auto;
  }

  .desktop_but {
    display: none;
  }

  .response_but {
    display: inline-block;
  }

  .bottles_galo, x:-moz-any-link {
    margin-bottom: -11rem;
  }

  .slogan h1 {
    font-size: 8rem;
    line-height: 7.3rem;
    letter-spacing: 0;
  }

  .flexing_vert li {
    line-height: 3.5rem;
  }

  .problema_content {
    max-width: 90%;
  }

  .text li {
    margin-bottom: 1rem;
  }

  .second_block h2 {
    margin-top: -2rem;
    font-size: 6rem;
  }

  .second_block .text_two {
    font-size: 1.3rem;
  }

  .bottles_galo {
    margin-bottom: -10rem;
    margin-top: -2rem;
  }

  .first_lap .lap_text {
    max-width: 21.2rem;
  }

  .response {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .oferta {
    padding-top: 0;
    margin-top: -1rem;
  }

  .third_block .text_three {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .third_block .text_block {
    font-size: 1.2rem;
  }

  .form_field {
    width: 15rem;
    height: 3rem;
    border-radius: 2rem;
    font-size: 1.25rem;
  }

  tr td:first-child .form_field {
    width: 14.4rem;
  }

  .bottles_forma form table tr td .long_field {
    //width: 25rem;
  }

  .form_field_select {
    border-radius: 2rem;
    height: 3.35rem;
    //line-height: 3.35rem;
  }

  .form_field_select select {
    font-size: 1.25rem;
    height: 3.35rem;
    //line-height: 3.35rem;
    border-radius: 2rem;
  }
}

@media screen and (max-width: 550px) {
  .man_f {
    background-position: -3rem 35rem;
  }

  .sixth_block h2 {
    font-size: 5.5rem;
    margin-top: 5rem;
  }

  .seventh_block {
    min-height: 1200px;
  }

  .seventh_block h2 {
    font-size: 2.3rem;
    line-height: 2.5rem;
    margin-top: 0;
  }
}

@media screen and (max-width: 520px) {
  .header {
    padding-left: 2%;
    padding-right: 2%;
  }

  .header .contacts {
    margin-left: 0.1rem;
  }

  .first_block {
    min-height: 1900px;
  }

  .main_text {
    padding-top: 0.5%;
    padding-left: 0.5%;
  }

  .flexing ul {
    padding-left: 0.5%;
  }

  .slogan h1 {
    font-size: 7rem;
    line-height: 6.5rem;
  }

  .big_bottles {
    max-width: 85%;
    max-height: 85%;
  }

  .text {
    margin-right: 0.5%;
  }

  .text ul {
    margin-bottom: 19rem;
  }

  .man_f {
    background-position: -3.5rem 37rem;
  }

  .problema {
    margin-right: -0.5%;
  }

  .problema .problema_content {
    max-width: 90%;
  }

  .second_block {
    min-height: 0;
    height: auto;
  }

  .second_block h2 {
    margin-top: 0;
  }

  .second_block .text_two {
    max-width: 99%;
  }

  .table_inf .response {
    max-width: 98%;
  }

  .circle p,
  .second_lap .circle p,
  .third_lap .circle p {
    margin-left: 0;
  }

  .fifth_block h2:first-child {
    margin-top: 2%;
  }

  .fifth_block h2 {
    margin-left: 0.5%;
  }

  .laps {
    margin-left: 0.5%;
  }

  .flexing_vert ul {
    font-size: 1.5rem;
  }

  .big_bottles_small {
    max-width: 80%;
    max-height: 80%;
  }

  .big_bottles_small img {
    max-width: 100%;
    max-height: 100%;
  }

  .third_block h2 {
    font-size: 3.2rem;
    margin-top: 1rem;
  }

  .third_block .text_block {
    line-height: 1.9rem;
  }

  //.first_lap .lap_text,
  //.second_lap .lap_text,
  //.third_lap .lap_text {
  //  max-width: 20rem;
  //}
  .fifth_block {
    background: url("@{picture-url}/man_smiling_responce_mob.jpg") no-repeat 100% 0;
    background-size: 110%;
    height: 100%;
  }

  .fifth_block h2 {
    font-size: 4.5rem;
    line-height: 4.2rem;
  }

  .laps .circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
  }

  .lap_header {
    min-height: 2.5rem;
    font-size: 2rem;
  }

  .first_lap .lap_text,
  .second_lap .lap_text,
  .third_lap .lap_text {
    max-width: 24rem;
    font-size: 1.1rem;
  }

  .lap_text span {
    margin-top: 0.2rem;
  }

  .sixth_block {
    background: url("/pictures/hand_small.png") no-repeat -1.5rem 0;
    background-size: 110%;
    height: auto;
  }

  .sixth_block .star_block {
    margin-top: 15%;
  }

  .sixth_block .star_block, x:-moz-any-link {
    margin-top: 4rem;
  }

  .star_header {
    font-size: 1.5rem;
  }

  .star_text {
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

  .sixth_block h2 {
    font-size: 4.5rem;
    margin-top: 0;
    line-height: 5rem;
  }

  .table_inf {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .but_four .button_long {
    letter-spacing: .02rem;
  }

  .seventh_block {
    min-height: 0;
    height: auto;
  }

  .third_lap .lap_text {
    margin-bottom: 5%;
  }

  .third_block h2, x:-moz-any-link {
    font-size: 2.8rem;
    letter-spacing: -0.1rem;
  }

  .footer {
    padding: 1% 0.2% 1% 0.2%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .man_f {
    background-position: -3rem 37rem;
  }

  button {
    height: 3.5rem;
    border-radius: 1.7rem;
  }

  .button_short {
    font-size: 1.3rem;
    line-height: 1.58rem;
  }

  .conforme {
    padding: 0 0.5% 0.5% 0.5%;
    width: 98%;
    font-size: 0.8rem;
  }

  .conforme .p {
    .align-self(flex-end);
  }

  .wrapping {
    margin-left: 0;
  }

  .problema h2 {
    margin-top: 1rem;
  }

  .first_block {
    min-height: 0;
    height: auto;
  }

  .text ul {
    margin-bottom: 13rem;
  }

  .second_block h2 {
    font-size: 5.5rem;
  }

  .third_block h2 {
    text-align: center;
  }

  .fifth_block h2 {
    font-size: 3.1rem;
    line-height: 2.8rem;
  }

  .lap_header {
    min-height: 2.5rem;
    font-size: 1.3rem;
  }

  .first_lap .lap_text {
    max-width: 17rem;
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .second_lap .lap_text {
    max-width: 20rem;
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .third_lap .lap_text {
    max-width: 22rem;
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .lap_text span {
    font-size: 1.1rem;
  }

  .sixth_block h2 {
    font-size: 4rem;
    line-height: 4.3rem;
  }

  .star_header {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .star_text {
    margin-top: 0;
    max-width: 22rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 450px) {
  .man_f {
    background-position: -2rem 42rem;
  }
}

@media screen and (max-width: 430px) {
  .header {
    display: block;
  }

  .header img {
    width: 39%;
    height: auto;
    float: left;
    margin-top: 1rem;
  }

  .header .contacts,
  .contacts .second_row {
    letter-spacing: -0.02rem;
  }

  .header .contacts {
    float: right;
    margin-top: 1rem;
  }

  .contacts p {
    float: right;
  }

  .contacts span {
    float: right;
  }

  .slogan h1 {
    font-size: 6rem;
    line-height: 5.5rem;
  }

  .man_f {
    background-size: 105%;
    background-position: -3rem 37rem;
  }

  .conforme_pict img:nth-child(n) {
    max-width: 20%;
    height: auto;
    padding-left: 0.2rem;
  }

  .problema h2 {
    font-size: 5.5rem;
    letter-spacing: 0;
  }

  .problema .problema_content {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }

  .text ul {
    font-size: 1.4rem;
  }

  .second_block h2 {
    font-size: 4rem;
    line-height: 6rem;
  }

  .second_block .text_two {
    font-size: 1rem;
    line-height: 1.8rem;
  }

  .first_lap .lap_text {
    max-width: 16rem;
  }

  .first_lap,
  .second_lap,
  .third_lap {
    margin-top: 1rem;
  }

  .but_four {
    width: 80%;
    height: 2.5rem;
  }

  .but_four .button_long {
    font-size: 0.9rem;
    line-height: 1rem;
  }

  .seventh_block h2 {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .sixth_block h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .form_field {
    width: 10rem;
    height: 1.6rem;
    border-radius: 0.7rem;
    font-size: 0.8rem;
  }

  tr td:first-child .form_field {
    width: 9.4rem;
  }

  .bottles_forma form table tr td .long_field {
    //width: 17rem;
  }

  .form_field_select {
    border-radius: 0.7rem;
    height: 1.85rem;
    //line-height: 1.95rem;
  }

  .form_field_select select {
    font-size: 0.8rem;
    line-height: 1.15;
    height: 1.85rem;
    //line-height: 1.95rem;
    border-radius: 0.7rem;
  }

  .table_inf td {
    padding: 0.5%;
  }

  .form_field {
    padding-bottom: 0;
  }

  form button .for_resp {
    font-size: 1rem;
  }

  .footer h3 {
    font-size: 1rem;
  }

  .footer p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 380px) {
  .text ul {
    margin-bottom: 10rem;
  }

  .man_f {
    background-size: 120%;
    background-position: -2rem 38rem;
  }

  .first_block li {
    line-height: 2.4rem;
  }

  .flexing_vert ul {
    font-size: 1.2rem;
  }

  .problema h2 {
    font-size: 5rem;
  }

  .table_inf {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  table {
    border-spacing: 0.2rem 0.5rem;
  }

  .bottles_forma form table tr td .long_field {
    //width: 17rem;
  }

  .table_inf .response {
    margin-top: 4rem;
  }

  .comments .words p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .first_comment p,
  .third_comment p {
    padding-left: 3.75rem;
    padding-right: 1rem;
    line-height: 2.4rem;
  }

  .first_comment .name,
  .third_comment .name {
    font-size: 1rem;
    padding-left: 3.75rem;
  }

  .comments {
    min-height: 0;
    height: auto;
  }

  .second_comment p {
    padding-right: 4rem;
    padding-left: 1rem;
    line-height: 2.4rem;
  }

  .second_comment .name {
    font-size: 1rem;
    padding-left: 1rem;
  }

  .footer p {
    font-size: 0.75rem;
  }

  .fifth_block h2 {
    font-size: 2.8rem;
    line-height: 2.5rem;
  }

  .lap_header {
    min-height: 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }

  .circle p,
  .second_lap .circle p,
  .third_lap .circle p {
    margin: 0;
  }

  .first_lap .lap_text,
  .second_lap .lap_text,
  .third_lap .lap_text {
    max-width: 16rem;
    font-size: .8rem;
  }

  .first_lap .lap_text {
    max-width: 13rem;
  }

  .sixth_block h2 {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
}

@media screen and (max-width: 360px) {
  .man_f {
    background-size: 105%;
    background-position: -2rem 33rem;
  }

  .slogan h1 {
    font-size: 5rem;
    line-height: 4.5rem;
  }

  .button_short {
    font-size: 1.1rem;
    line-height: 1.1rem;
  }

  .problema h2 {
    font-size: 4.5rem;
  }

  .text li {
    margin-bottom: 0;
  }

  .text li:last-child {
    max-width: 60%;
  }

  .table_inf {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }

  .third_block .text_three {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .third_block .text_block {
    line-height: 1.5rem;
  }

  .third_block .text_block {
    font-size: 1rem;
  }

  .fifth_block h2 {
    font-size: 2.5rem;
    line-height: 2.3rem;
  }

  .laps .circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 1.2rem;
  }

  .star_text {
    margin-top: 0;
    max-width: 18rem;
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .big_bottles {
    margin-bottom: 1rem;
    .align-self(center);
  }

  .second_lap {
    margin-top: 0.5rem;
  }

  .third_lap {
    margin-top: 0.5rem;
  }

  .lap_text span {
    font-size: 0.8rem;
  }

  .conforme {
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.5% 2.5% 0.5%;
  }
}