/*--------------------------------- variables ------------------------------------------------------------------------*/
@html-font-size: 16px;

@import "config.less";
/*--------------------------------- fonts ----------------------------------------------------------------------------*/
html {
  font-size: @html-font-size;
}

body {
  max-width: 73.1rem;
  margin: 0 auto;
}

/*--------------------------------- header ---------------------------------------------------------------------------*/

.lp_header {
  overflow: hidden;
  padding-left: 2.313rem;
  padding-right: 2.313rem;
  .flex-display;
  .justify-content(space-between);
  .align-items(center);
  background: #232228;
  max-width: 100%;
  height: 75px;
}

.lp_contacts {
  .flex-display;
  .flex-direction(column);
  height: 2.5rem; //40px
  width: 15rem; //240px
  vertical-align: middle;
  color: #8de2fd;
  font-weight: 600;
  letter-spacing: 0.02rem;
  line-height: 1.31rem; //21px
}

.lp_contacts, x:-moz-any-link {
  letter-spacing: -0.05rem;
  font-weight: 600;
}

.lp_contacts_first_row {
  .flex-display;
  .flex-direction(row);
  .justify-content(flex-end);
  .align-items(center);
  padding-left: 0.05rem;
  width: 15rem;
}

.lp_contacts span {
  color: #ffffff;
  font-size: 0.94rem;
}

.lp_head_text {
  .flex-display;
  white-space: nowrap;
  .flex-wrap(nowrap);
  .justify-content(flex-end);
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 0;
  font-size: 0.75rem;
}

.lp_contacts .lp_tel {
  padding-right: 0.2rem;
  font-size: 0.875rem;
}

.lp_contacts .lp_second_row {
  letter-spacing: 0.01rem;
}

@media screen and (max-width: 720px) {
  html {
    font-size: 12px;
  }

  .lp_contacts, x:-moz-any-link {
    letter-spacing: 0;
  }
}

@media screen and (max-width: 520px) {
  .lp_header {
    padding-left: 2%;
    padding-right: 2%;
  }

  .lp_header .lp_contacts {
    margin-left: 0.1rem;
  }
}

@media screen and (max-width: 430px) {
  .lp_header {
    display: block;
    padding-bottom: 1rem;
    height: auto;
  }

  .lp_header img {
    width: 39%;
    height: auto;
    float: left;
    margin-top: 1rem;
  }

  .lp_header .lp_contacts,
  .lp_contacts .lp_second_row {
    letter-spacing: -0.02rem;
  }

  .lp_header .lp_contacts {
    float: right;
    margin-top: 1rem;
  }

  .lp_contacts p {
    float: right;
  }

  .lp_contacts span {
    float: right;
  }
}

/*--------------------------------- first_block ----------------------------------------------------------------------*/
.lp_first_block {
  .flex-display;
  .flex-direction(column);
  max-width: 100%;
  height: auto;
  background: url("@{picture-url}/landing/lp_smiling_man.jpg") 0 no-repeat;
}

.lp_first_block_top {
  .flex-display;
  .flex-direction(column);
}

.lp_main_text {
  padding-top: 2.5rem;
  padding-left: 1.5rem;
  .flex-display;
  .flex-direction(column);
}

.lp_big_bottles {
  width: 31%;
  align-self: center;
  margin-top: -21.8rem;
  margin-bottom: -3rem;
  img {
    width: 100%;
    height: auto;
  }
}

h1 {
  margin: 0;
  line-height: 5.625rem;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 6.563rem;
}

.lp_slogan {
  letter-spacing: -0.2rem;
}

.lp_slogan, x:-moz-any-link {
  letter-spacing: 0;
}

.lp_foco {
  color: #47bcda;
}

.lp_memoria {
  color: #36aac8;
}

.lp_energia {
  color: #208ca8;
}

.lp_first_block ul {
  padding-top: 3rem;
  padding-left: 1.5rem;
  list-style-type: none;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.7rem;
  color: #208ca8;
}

.lp_first_block li {
  padding-left: 2.75rem;
  letter-spacing: -0.033rem;
  background: url("@{picture-url}/blue_arrow_right.png") no-repeat 5px;
}

li sup {
  font-size: 0.6rem;
  letter-spacing: 0.015rem;
}

@media (max-width: 1100px) {
  .lp_first_block {
    background-position: center;
  }

  .lp_big_bottles {
    margin-top: -19.5rem;
    margin-left: 6rem;
  }
}

@media (max-width: 1000px) {
  .lp_big_bottles {
    width: 30%;
    margin-top: -17.5rem;
    margin-left: 8rem;
  }
}

@media (max-width: 880px) {
  .lp_big_bottles {
    margin-top: -14.5rem;
    margin-left: 10rem;
  }
}

@media (max-width: 835px) {
  .lp_big_bottles {
    width: 26%;
    margin-top: -11.5rem;
    margin-left: 10rem;
  }
}

@media (max-width: 795px) {
  .lp_big_bottles {
    width: 25%;
    margin-top: -10.5rem;
    margin-left: 12rem;
  }
}

@media (max-width: 767px) {
  .lp_first_block ul {
    padding-top: 1rem;
  }

  .lp_medium-big {
    display: none;
  }
}

@media (max-width: 720px) {
  .lp_first_block {
    background-size: 134%;
  }

  .lp_first_block li {
    padding-left: 3.75rem;
  }
}

@media (max-width: 580px) {
  .lp_first_block {
    background-size: 134%;
  }

  h1 {
    line-height: 4.6rem;
    font-size: 5.5rem;
  }
}

@media (max-width: 520px) {
  .lp_first_block {
    background-size: 150%;
  }

  .lp_main_text {
    padding-top: 1.5rem;
    padding-left: 0.5rem;
  }

  h1 {
    line-height: 4.6rem;
    font-size: 5.5rem;
  }

  .lp_first_block ul {
    padding-top: 0;
    padding-left: 0.5rem;
  }

  .lp_first_block li {
    background-size: 5%;
    padding-left: 3rem;
  }
}

@media (max-width: 450px) {
  h1 {
    line-height: 3.6rem;
    font-size: 4.2rem;
  }

  .lp_first_block ul {
    font-size: 1rem;
    line-height: 2.4rem;
  }
}

@media (max-width: 410px) {
  .lp_first_block ul {
    line-height: 2rem;
    margin: 0.5rem 0;
  }
}

/*--------------------------------- second_block ---------------------------------------------------------------------*/
.lp_second_block {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding-top: 5rem;
  .flex-display;
  .flex-direction(column);
  align-items: center;
  background-color: #2d2d2d;
}

.lp_logo_center {
  width: 30%;
  @media only screen and (max-width: 500px) {
    width: 80%;
  }

  text-align: center;
  margin: 0 auto;
  img {
    width: 100%;
    min-width: 100px;
  }

}

.lp_description {
  font-family: 'Roboto Slab';
  margin-top: 2rem;
  width: 90%;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  color: white;
  text-align: center;
}
.lp-items-block{
  width: 100%;

  .flex-display;
  .flex-direction(row);
  .justify-content(space-between);
  .align-items(stretch);
  @media only screen and (max-width: @mobile-view) {
    .flex-wrap(wrap);
  }

  padding: 2rem 1rem;
  box-sizing: border-box;
  .lp-item{
    .flex-basis(24%);
    height: 100%;
    @media only screen and (max-width: @mobile-view) {
      .flex-basis(48%);
      margin-bottom: 1rem;
    }
    @media only screen and (max-width: 250px) {
      .flex-basis(98%);
    }
    background-image:url("/pictures/landing/backgraund-brain-small.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;

    .lp-item-header{
      width: 100%;
      background: #36b8d7;
      color: white;
      text-transform: uppercase;
      text-align: center;
      padding: 0.3rem 0.1rem;
      box-sizing: border-box;
      font-family: "Open Sans";
      font-weight: 700;
    }
    .lp-item-content-wrapper{
      width: 100%;
      padding: 0.5rem;
      padding-bottom: 0;
      box-sizing: border-box;
      text-align: center;
      div{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .lp-item-name{
        color: #5c2a4f;
        font-family: "Open Sans";
        font-weight: 700;
        text-align: center;
        padding: 0.3rem 0 0.5rem 0;
      }
      .lp-item-img{
        margin-bottom: 1rem;
      }
      .lp-item-price-txt{
        font-size: 0.7rem;
      }
      .lp-item-price{
        color: #5c2a4f;
        font-size: 1.6rem;
        font-family: "Open Sans";
        font-weight: 700;
        margin-bottom: 1rem;
        span{
          color: grey;
        }
      }
      .lp-item-line-through{
        text-decoration: line-through;
        font-size: 0.7rem;
      }
      .lp-item-total-price{
        font-size: 0.7rem;
        margin-bottom: 1rem;
      }
      .lp-item-total-discount{
        color: #5c2a4f;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-family: "Open Sans";
        font-weight: 800;
        //margin-bottom: 1rem;
      }
      .mc-main-button{
        margin: 0;
        font-size: 1rem;
        padding: 0;
        button{
          font-size: 1rem;
          padding: 1rem;
          box-sizing: border-box;
          @media only screen and (max-width: @mobile-view) {
            width: 80%;
            margin-bottom: 1rem;
          }
          @media only screen and (max-width: 380px) {
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}

//------------- pay system block--------------------
.pay-system-container {
  width: 100%;
  padding: 1rem 0;
  margin-top: 2rem;
  background: #f3f3f3;

  .flex-display;
  .flex-direction(row);
  .align-items(center);
  @media only screen and (max-width: @mobile-view) {
    .flex-wrap(wrap);
    .justify-content(center);
  }
  .pay-system-text {
    .flex-basis(50%);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    @media only screen and (max-width: @mobile-view) {
      .flex-basis(100%);
    }
  }
  .pay-system-bar-wrapper {
    .flex-basis(50%);
    @media only screen and (max-width: @mobile-view) {
      .flex-basis(100%);
    }
    .pay-system-bar {
      .pay-system-payLogo{
        @media only screen and (max-width: @mobile-view) {
          text-align: center;
        }
      }
      width: 100%;
      .flex-display;
      .flex-direction(row);
      .justify-content(space-around);
      .align-items(center);
      .pay-badge-wrapper{
        position: relative;
      }

      .pay-badge{
        top: -60px;
        left: -80px;
        position: absolute;
        @media only screen and (max-width: @mobile-view) {
          top:0;
          left: 0;
          position: relative;
          text-align: center;
        }
        img{
          @media only screen and (max-width: @mobile-view) {
            width: 60%;
            min-width: 50px;
          }
        }
      }
    }
  }
}

/*--------------------------------- input grup -----------------------------------------------------------------------*/
.mc-header-2nd {
  position: relative;
  padding: .6em 120px 0.5em 120px;
  @media only screen and (max-width: 600px) {
    padding: .6em 80px 0.5em 20px;
    font-size: 1rem; // 24px
  }
  background: #36b8d7;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 1.5rem; // 24px
  text-align: center;
  color: white;
  //@media only screen and (max-width: @mobile-view) {
  //  margin-top: 0.5rem;
  //}
}
.lp-oferta-label{
  position: absolute;
  right: 2px;
  top:-6px;
  height: 120px;
  min-width: 30px;
  max-width: 120px;
  width: 100%;
  background: url("@{picture-url}/landing/oferta-label.png") 0 no-repeat;
  background-size: 100%;
  font-size: 16px;
  @media only screen and (max-width: 600px) {
    max-width: 80px;
    height: 80px;
    font-size: 12px;
  }
  .lp-oferta-label-txt1{
    font-size: 1em;
    padding: 1em 0 0 0;
  }
  .lp-oferta-label-txt2{
    font-size: 1em;
    margin-bottom: 0.3em;
    @media only screen and (max-width: 600px) {
      margin-bottom: 0;
    }
  }
  .lp-oferta-label-txt3, .lp-oferta-label-txt4 {
    font-size: 0.8em;
    font-family: 'Open Sans';
    font-weight: 600;
  }
  img{
    width: 100%;
  }

}
.lp-corner {
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  border-top: 1.2rem solid;
  border-right: 7rem solid;
  border-left: 7rem solid;
}

.lp-corner {
  border-color: #36b8d7 transparent transparent transparent;
}

input[type=text] {
  width: 100%;
  height: 2.5rem;
  border: 1px solid darkgrey;
  border-radius: 20px;
  background: #f5f5f5;
  box-sizing: border-box;
  line-height: 2.5rem;
  padding: 0 26px;
  margin-bottom: 0.9rem;
  font-family: Arial;
  font-size: 1rem;
}

input:focus {
  outline: none;
  background: white;
}

.post-data-select {
  background: #f5f5f5;
  border-radius: 25px;
}

.mc-post-data {
  width: 100%;
  padding-top: 1.7rem;
  .flex-display;
  .flex-direction(row);
  .justify-content(space-between);
  .align-items(stretch);
  @media only screen and (max-width: @mobile-view) {
    background: white;
    .flex-wrap(wrap);
  }
  .post-data-header {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 1.125rem;
    color: #36b8d7;
    text-align: center;
  }
  .post-data-input-group {
    margin: 2rem 3.8rem;
    @media only screen and (max-width: @mobile-view) {
      margin: 2rem 0.8rem;
    }
  }
  .post-data-text {
    padding: 0 0 0 1.8rem;
    letter-spacing: 0.1px;
    font-family: Arial;
    line-height: 1.2rem;
    font-size: 12px;
  }
  .post-data-column1 {

    .flex-basis(50%);
    @media only screen and (max-width: @mobile-view) {
      .flex-basis(100%);
    }
  }
  .post-data-column2 {
    .flex-basis(50%);
    @media only screen and (max-width: @mobile-view) {
      .flex-basis(100%);
    }
  }
}

.mc-main-button{
  .flex-display;
  .flex-direction(row);
  .justify-content(center);
  .align-items(center);
  margin-bottom: 1rem;
  @media only screen and (max-width: @mobile-view) {
    background: white;
    padding-bottom: 3%;
    margin-top: -1px;
  }
  button {
    padding: 1.2rem;
    border-radius: 30px;
    background: url("@{picture-url}/checkout/mc-button.png") 0 no-repeat;
    background-size: 100%;
    border: none;
    cursor:pointer;
    color: white;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  button:focus{
    border: none;
    outline: none;
  }
  button:active{
    background: url("@{picture-url}/checkout/mc-button-2.png") 0 no-repeat;
    background-size: 100%;
  }
}
//.mc-post-data
/*--------------------------------- footer ---------------------------------------------------------------------------*/
.footer {
  .flex-display;
  .flex-direction(column);
  .align-items(stretch);
  margin: auto;
  padding: 1.5rem 1rem 1.5rem 2rem;
  background: #3c3c3c;
  font-family: Arial;
  font-size: 0.82rem;
  color: white;
  a{
    word-wrap: break-word;
  }
  a:link {
    color: white;
  }
  a:visited {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: burlywood;
    text-decoration: none;
  }
  a:active {
    color: gainsboro;
    text-decoration: underline;
  }
  hr {
    margin: 1.1rem 0 0.8rem 0;
    width: 100%;
    border-color: #777777;
  }
  .footer-1st-block {
    .flex-display;
    .flex-direction (row);
    .justify-content (space-between);
    .align-items (stretch);
    @media (max-width: @mobile-view) {
      .flex-wrap(wrap);
      .justify-content (center);
      text-align: center;
    }
    .footer-privaci-data {
      .flex-display;
      .flex-direction(column);
      .justify-content(center);
      @media (max-width: @mobile-view) {
        .flex-basis(100%);
      }

      font-size: 1rem;
      div {
        margin-bottom: 1rem;
      }

      .footer-privaci-data-1stline {
        .flex-display;
        .flex-direction(row);
        @media (max-width: @mobile-view) {
          .justify-content (center);
        }
        margin-bottom: 1rem;
        div {
          margin: 0 0.2rem;
        }
      }
    }
    .footer-pay-wrapper {
      .flex-display;
      .flex-direction(column);
      .align-items(stretch);
      p {
        font-size: 1rem;
      }
      img {
        width: 100%;
      }

    }
  }
  .footer-ministerio{
    width: 100%;
    img{
      width: 100%;
      max-width: 250px;
    }
  }
}

/*--------------------------------- footer ---------------------------------------------------------------------------*/