@import "config.less";
.mc-duy-timer {
  width: 100%;
  .timer {
    padding: 1rem 1rem;
    background: #0f1620;
    display: inline-block;
    border-radius: 5px;

    box-shadow: inset 0 -2px 10px 1px rgba(0, 0, 0, 0.75),
    0 5px 20px -10px rgba(0, 0, 0, 1);
  }

  .cell {
    width: 100%;
    height: 2.5rem;
    font-size: 3.75rem;
  }

  .numbers {
    width: 100%;
    line-height: 2.5rem;
    font-family: digital, arial, verdana;
    text-align: center;
    color: #36b8d7;
    top: 0;
    left: 0;
  }

  /*Lets use a better font for the numbers*/
  @font-face {
    font-family: 'digital';
    src: url('@{font-url}/DS-DIGI.TTF'),
         url('@{font-url}/DS-DIGI.eot');
  }
}